Add to BibDesk.workflow/Contents/QuickLook/Preview.pdf
*/QuickLook/Preview.png
*.pyc
.DS_Store
build/adsbibdesk/adsbibdesk.egg-info/
build/adsbibdesk/build/
build/adsbibdesk/dist/
build/adsbibdesk/adsbibdesk.py
.project
.pydevproject
.settings
adsbibdesk.egg-info/dependency_links.txt
adsbibdesk.egg-info/entry_points.txt
adsbibdesk.egg-info/PKG-INFO
adsbibdesk.egg-info/SOURCES.txt
adsbibdesk.egg-info/top_level.txt
build/lib/adsbibdesk.py
dist/adsbibdesk-3.1-py2.7.egg
